<div class="modal-header">
    <h3 class="modal-title">Change Password
    <button type="button" class="close" ng-click="dismissModal()" data-dismiss="modal" aria-hidden="true" ng-hide="user.currentUser.isPasswordChanged">&times;</button>
    </h3>
</div>

<div class="modal-body">
    <div ng-show="user.currentUser.isPasswordChanged" class="heading">Password needs to be changed before progressing</div>
    <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissible"
            role="alert" close="closeAlert($index)">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{alert.msg}}
    </div>
    <form name="passwordChangeForm" ng-submit="changePassword()">
        <div class="form-group">
            <label for="userName">Old Password</label>
            <input type="password" autocomplete="off" id="oldPassword" ng-model='oldPassword' class="form-control" id="oldPassword" placeholder="Enter old password" ng-required="true" />
        </div>
        
        <div class="form-group">
            <label for="userName">New Password</label>
            <input type="password" autocomplete="off" id="newPassword" ng-model='newPassword' class="form-control" id="newPassword" placeholder="Enter old password" ng-required="true" />
            <div ng-show="newPassword && oldPassword === newPassword" class="error-text">Old password and new password cannot be same</div>
        </div>
        <div class="form-group">
            <label for="userName">Confirm New Password</label>
            <input type="password" autocomplete="off" id="confNewPassword" ng-model='confNewPassword' class="form-control" id="confNewPassword" placeholder="Enter old password" ng-required="true" />
            <div ng-show="confNewPassword && newPassword && newPassword !== confNewPassword" class="error-text">Password entered is different</div>
        </div>
        
        <div class="pull-right">
            <input type="button" class="btn btn-success" ng-disabled="!passwordChangeForm.$valid || !(newPassword === confNewPassword)" value="Change"></input>
            <input type="button" ng-click='dismissModal()' data-dismiss='modal' class="btn btn-default" value="Cancel" ng-hide="user.currentUser.isPasswordChanged"></input>
        </div>
    </form>
    
    <br /><br />
</div>
