<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

    <div class="page-header">
        <h3>Profile</h3>
    </div>
    <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}} alert-dismissible"
            role="alert" close="closeAlert($index)">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{alert.msg}}
    </div>
    <!-- LOGIN FORM -->
    <form name="userDetails" role="form" novalidate>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" autocomplete="off" ng-model="user.firstName" name="firstName" ng-required="true">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" autocomplete="off" ng-model="user.lastName" name="lastName" ng-required="true">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" autocomplete="off" ng-model="user.email" name="email" ng-required="true">
        </div>
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" autocomplete="off" ng-model="user.userName" name="userName" readonly>
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <phone-number-input phone-no="user.phoneNo"></phone-number-input>
        </div>
        <button type="submit" class="btn btn-warning btn-lg" ng-disabled="!userDetails.$dirty || !userDetails.$valid || clicked" ng-click="(clicked = !clicked) && updateUser()">
            {{ clicked ? 'Updating..' : 'Update' }}
        </button>
        
        <button type="submit" class="btn btn-success" ng-click="changePassword()">
            Change Password
        </button>
    </form>

    <hr>

    <p>Go <a class="download-links" href="#/home">Home</a>.</p>

</div>
</div>