<div class="container">
    <div class="page-header">
        <h3>Upload Files</h3>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="text-center">
                <button type="file" class="btn btn-lg btn-success btn-block" ngf-select="upload($file)" ng-disabled="f">
                    <span class="glyphicon glyphicon-upload"></span> {{ f ? 'Uploading File.. Please wait' : 'Upload File' }}
                </button>
                <div ng-if="f">
                    <hr />
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:{{f.progress}}%"></div>
                    </div>
                    <hr/>
                    <div class="text-center">
                        <h4>Uploading {{ f.name }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>