<div class="container">
    <div class="page-header">
        <h3>View Files</h3>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="file in filesList">
                    <div class="row">
                        <div class="col-sm-6">
                            <b>File Name</b> : <a class="download-links" download="{{file.filename}}" href="/getFile/{{file._id}}">{{ file.filename }}</a>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-center pull-right">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Options <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a class="dropdown-links" ng-click="sendMail(file._id)"><span class="glyphicon glyphicon-envelope"></span> Mail</a></li>
                                        <li><a class="dropdown-links" ng-click="sendMessage(file._id)"><span class="glyphicon glyphicon-send"></span> SMS</a></li>
                                        <li><a class="dropdown-links" ng-click="removeFile(file._id)"><span class="glyphicon glyphicon-remove"></span> Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>